form{
    border: solid 1px;
    width: 450px;
    margin: left 100px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
    background-color:cornsilk;
}
h1{
    text-align: center;
    background-color: rgb(32, 44, 44);
    font-size: 40px;
color:rgb(138, 110, 61);
}
label1{
    font-weight: bold;
    font-size: 22px;
}
input{
    height: 31px;
    width: 250px;
    margin-left: 55px;
    border: 20px;
}
textarea